body
	font-family: $commonFont
	background: #FFF
	color: $textColor
	line-height: 1.2
	padding-bottom: 300px

.out
	overflow: hidden

.container
	padding: 0 150px

.section-title
	font-size: $titleFontSize
	font-family: $boldFont
	margin-bottom: 54px
	&--center
		text-align: center
		margin-bottom: 80px

.section-icon
	margin-bottom: 30px
	display: flex
	justify-content: center

.text
	line-height: 1.89
	font-size: $textFontSizeSm
	p + p
		margin-top: 28px



