body
	font-family: $commonFont
	background: #FFF
	color: $textColor
	line-height: 1.2
	padding-bottom: 300px
	+sm
		padding-bottom: 150px

.out
	overflow: hidden

.container
	padding: 0 150px
	max-width: 1920px
	margin: 0 auto
	+r(1400)
		padding: 0 170px
	+r(1199)
		padding: 0 40px
	&--team
		+r(1400)
			padding: 0 90px

.section-title
	+css-lock($titleFontSizeMobile, $titleFontSize, 375, 1920)
	font-family: $extraBoldFont
	font-weight: bold
	margin-bottom: 54px
	+md
		text-align: center
	+sm
		margin-bottom: 24px
	&--center
		text-align: center
		margin-bottom: 35px

.section-icon
	margin-bottom: 30px
	display: flex
	justify-content: center

.text
	line-height: 1.7
	+css-lock($textFontSizeSmMobile, $textFontSizeSm, 375, 1920)
	p + p
		margin-top: 28px
		+laptop
			margin-top: 15px

.desktop-hidden
	display: none!important
	+sm
		display: block!important

ol
	list-style: decimal
	padding-left: 20px

ul
	list-style: disc
	padding-left: 20px
