+font(Muli-Regular, Muli-Regular)
+font(Muli-Bold, Muli-Bold)
+font(Muli-ExtraBold, Muli-ExtraBold)
+font(Muli-Light, Muli-Light)

$commonFont: Muli-Regular, Arial, sans-serif
$boldFont: Muli-Bold, Arial, sans-serif
$lightFont: Muli-Light, Arial, sans-serif
$extraBoldFont: Muli-ExtraBold, Arial, sans-serif

//Font sizes
$titleFontSize: 60
$teamSectionTitle: 32
$titleBanner: 36
$heroFontSize: 46
$btnFontSize: 33
$btnFontSizeSm: 20
$btnFontSizeLg: 41
$textFontSize: 30
$textFontSizeSm: 22
$personDesc: 16
$addressTitles: 30
$addressText: 28

//Font sizes Mobile
$heroFontSizeMobile: 22
$btnFontSizeSmMobileSm: 10
$btnFontSizeMobile: 13
$titleFontSizeMobile: 24
$titleBannerMobile: 20
$teamSectionTitleMobile: 18
$textFontSizeSmMobileFooter: 10
$textFontSizeSmMobileTeam: 10
$textFontSizeSmMobile: 14
$textFontSizeMobile: 18
$addressFontMobile: 11

$personDescMobile: 12


//Colors
$mainColor: #11406A

$activeItemBg: #B7B7B7

$footerBg: #1C4F7B
$visionBg: #68B1E1
$visionBorder: #34A7D7
$philosophyBg: #A2CE5F
$philosophyBorder: #8EBF45

$mainButtonBg: $mainColor
$buttonBorderColor: #FFFFFF
$buttonBorderColorBlue: #68B1E1
$buttonBorderColorGreen: #A2CE5F
$buttonColor: #FFFFFF
$orangeBtnBg: #F67819
$blueBtnBg: #4FA3DC
$greenBtnBg: #9EC549
$roseBtnBg: #D55B9D

$inputBorderColor: #0099FF

$textColor: $mainColor

$sectionBlue: #68B1E1
$sectionRed: #F06B79
$sectionOrange: #F68D28
$sectionGreen: #A2CF60
$sectionrose: #E271AC

