$commonFont: Tahoma, Arial, sans-serif
$boldFont: Tahoma-Bold, Arial, sans-serif


//Font sizes
$titleFontSize: 74
$teamSectionTitle: 59
$titleBanner: 55
$heroFontSize: 46
$btnFontSize: 33
$btnFontSizeSm: 28
$btnFontSizeLg: 41
$textFontSize: 42
$textFontSizeSm: 28
$personDesc: 16
$addressTitles: 40
$addressText: 36

//Font sizes Mobile
$heroFontSizeMobile: 15
$btnFontSizeSmMobileSm: 10
$btnFontSizeMobile: 13
$titleFontSizeMobile: 30
$titleBannerMobile: 30
$teamSectionTitleMobile: 20
$textFontSizeSmMobileFooter: 10
$textFontSizeSmMobileTeam: 10
$textFontSizeSmMobile: 14
$textFontSizeMobile: 20
$addressFontMobile: 11

$personDescMobile: 12


//Colors
$mainColor: #11406A

$activeItemBg: #B7B7B7

$footerBg: #1C4F7B
$visionBg: #68B1E1
$visionBorder: #34A7D7
$philosophyBg: #A2CE5F
$philosophyBorder: #8EBF45

$mainButtonBg: $mainColor
$buttonBorderColor: #FFFFFF
$buttonBorderColorBlue: #68B1E1
$buttonBorderColorGreen: #A2CE5F
$buttonColor: #FFFFFF
$orangeBtnBg: #F67819
$blueBtnBg: #4FA3DC
$greenBtnBg: #9EC549
$roseBtnBg: #D55B9D

$inputBorderColor: #0099FF

$textColor: $mainColor

$sectionBlue: #68B1E1
$sectionRed: #F06B79
$sectionOrange: #F68D28
$sectionGreen: #A2CF60
$sectionrose: #E271AC

