---
title: Brighton Health Clinic for Kids

team: [
  {
    title: 'Specialist Paediatricians',
    mod: 'blue',
    list: [
      {
        icon: 'genpaed',
        title: 'General Paediatricians',
        list: [
          {
            photo: 'img/doctors/james_jackson_mulvany.jpg',
            name: 'Dr James Jackson Mulvany ',
            shortinfo: 'James graduated from University College Dublin, Ireland, in 2007 and obtained membership of the Royal College of Paediatrics of Child Health in London (MRCPCH) in 2011.',
            fulldesc: "<p>James graduated from University College Dublin, Ireland, in 2007 and obtained membership of the Royal College of Paediatrics of Child Health in London (MRCPCH) in 2011.</p>
            <p>He moved to Australia in 2011 and continued his paediatric training at the Children’s Hospital at Westmead, Sydney. Having completed his fellowship in General Paediatrics as the Chief Resident Medical Officer at John Hunter Children’s Hospital, Newcastle, James moved to Melbourne with his wife in early 2018.</p>
            <p>
              James employs an evidence based and family centred approach in seeing children (birth – school leaving age) with a wide spectrum of medical and behavioural issues including;
              <ul>
                <li>Newborn & infant health</li>
                <li>Poor weight gain, feeding issues, reflux</li>
                <li>Asthma, eczema</li>
                <li>Chronic abdominal pain, constipation, soiling</li>
                <li>Bedwetting</li>
                <li>Developmental concerns</li>
                <li>Behavioural problems, ADHD, Autistic spectrum disorders</li>
              </ul>
            </p>
            <p>A keen soccer player, James represents Australia playing for the Australian Medical Football team, “The Docceroos”.</p>
            "
          },
          {
            photo: 'img/doctors/rashmi_dixit.jpg',
            name: 'Dr Rashmi Dixit',
            shortinfo: 'Rashmi Dixit was born and raised in New Zealand and, after obtaining her medical degree, came to Australia. She qualified in a Australia as a Paediatrician in Infectious Diseases and Tropical Medicine.',
            fulldesc: "<p>
              Rashmi Dixit was born and raised in New Zealand and, after obtaining her medical degree, came to Australia. She qualified in a Australia as a Paediatrician in Infectious Diseases and Tropical Medicine. Rashmi has acquired expertise in healthy weight management over her time as a specialist. She has two teaching awards, and has had published several peer reviewed papers. Rashmi is committed to providing thorough, personable care with a strong emphasis on clear and open communication.
            </p>
            <p>
              Rashmi's passions are:
              <ol>
                <li>General Paediatrics</li>
                <li>Infectious Diseases - infectious conditions  of the skin, soft tissues and internal organs</li>
                <li>Metabolic health - encompassing diabetes prevention, prediabetes management and healthy weight attainment</li>
            </ol>
            </p>
            <p>Rashmi is delighted to service Brighton and beyond, and loves it's vibrant, healthy and diverse community.</p>

            "
          }
        ]
      },
      #{
      #  icon: 'devped',
      #  title: 'Development Paediatrician',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
      #      fulldesc: "<p><b>About Betty</b> <br>
      #        MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
      #      </p>"
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
      #      fulldesc: "<p><b>About Betty</b> <br>
      #        MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
      #      </p>"
      #    }
      #  ]
      #}
    ]
  },
  {
    title: 'Allied Health',
    mod: 'red',
    list: [
      {
        icon: 'dietitian',
        iconSmall: true,
        title: 'Dietitians',
        list: [
          {
            photo: 'img/doctors/brooke_harcourt.jpg',
            name: 'Dr Brooke Harcourt',
            shortinfo: 'James graduated from University College Dublin, Ireland, in 2007 and obtained membership of the Royal College of Paediatrics of Child Health in London (MRCPCH) in 2011.',
            fulldesc: "<p><b>Paediatric and Maternal Dietitian</b> <br>
              Dr Harcourt is an experienced and passionate child and maternal health practitioner and brings to the Brighton Health Clinic for Kids team over a decade of experience in childhood nutrition and metabolism conditions.
            </p>
            <p>
              Brooke believes in working with children and their families to develop personalised and attainable nutrition goals. Brooke has advanced training in paediatric nutrition practices including feeding therapy S.O.S Feeding method, working with children with ASD/ADHD and lactation counselling.
            </p>
            <p><b>Clinical Interests and Experience</b>
              All paediatric conditions requiring nutrition and dietetic therapy.
            </p>
            <p>Brooke will help manage a broad range of conditions affecting infants, children and adolescents, including:
            <ul>
              <li>
                MATERNAL HEALTH
                <ul>
                  <li>Pre-conception health advice</li>
                  <li>Healthy eating during pregnancy</li>
                  <li>Healthy weight maintenance during pregnancy</li>
                  <li>Pregnancy conditions; ‘morning sickness’, hyperemesis gravidarum, gestational hypertension,</li>
                  <li>Safe eating and adequate nutrition during pregnancy</li>
                  <li>Eating to prevent infant allergies during pregnancy</li>
                  <li>Post-natal care including nutrition during breastfeeding and achieving a healthy weight after pregnancy</li>
                </ul>
              </li>
              <li>
                INFANTS
                <ul>
                  <li>Poor growth /Failure to thrive /Weight faltering</li>
                  <li>Healthy growth curve establishment</li>
                  <li>Introduction of solid foods</li>
                  <li>Fussy feeding and eating</li>
                  <li>Food sensitivities/intolerance/allergies (inc CMPA)</li>
                  <li>Breastfeeding and Lactation counselling</li>
                  <li>Weaning/Formula introduction counselling</li>
                </ul>
              </li>
              <li>
                CHILDREN AND ADOLESCENTS WITH ACUTE OR CHRONIC CONDITIONS
                <ul>
                  <li>Fussy eating, Limited diet condition and Moderate-Severe Food Restriction Disorders</li>
                  <li>Diabetes and endocrinology conditions</li>
                  <li>Autistic spectrum disorders and behavioural disorders</li>
                  <li>Overweight and obesity including Polycystic Ovary Syndrome and Genetic Obesity syndromes and management of Obesity related complications</li>
                  <li>Gastrointestinal conditions including Constipation, Coeliac Disease, Inflammatory Bowel Disease</li>
                  <li>Congenital Disorders including; Kidney disease, Heart Disease, Liver Disease, Cystic Fibrosis</li>
                  <li>Metabolic disorders: carbohydrate, amino acid, mitochondrial, lipid</li>
                  <li>Food allergies and intolerances</li>
                  <li>Developmental Conditions including Cerebral palsy, Fetal Alcohol Syndrome</li>
                  <li>Disordered eating conditions including Anorexia nervosa, Bulimia nervosa and Family Based Therapy programs</li>
                  <li>Childhood cancers</li>
                </ul>
              </li>
            </ul>
            </p>
            <p>
              Paediatric dietitians may work individually or part of a multidisciplinary team depending on your child’s condition.
            </p>
            <p>
              At your initial appointment Brooke will assess: your child’s growth, eating patterns and habits, sleeping patterns, full dietary intake, daily activities, current medical condition and medical history. Goals for nutrition therapy are developed together with the family and any other relevant medical professionals and progress is evaluated each visit.
            </p>
            <p>
              Appointments with a dietitian are available with or without a referral.
            </p>
            <p>
              Funding for dietetics consultation may be available via;
              <ul>
              <li>National Disability Insurance Scheme; speak to your plan manager about this.</li>
              <li>Medicare via Chronic Disease Management or Enhanced Primary Care plans; speak to your GP about these.</li>
              <li>Private Health Insurance Extra Cover; check with your insurance provider to see if you are eligible.</li>
            </ul>
            </p>
            "
          },
          {
            photo: 'img/doctors/jordan_psomopoulos.jpg',
            name: 'Jordan Psomopoulos',
            shortinfo: 'Jordan is a Melbourne-based Registered Dietitian / Nutritionist and has operated a private clinic since 1996. Jordan specialises in Mediterranean Diet, providing nutritional support to assist individuals in disease prevention, athletic performance enhancement and management of medical conditions.',
            fulldesc: "
              <p>
                Jordan is a Melbourne-based Registered Dietitian / Nutritionist and has operated a private clinic since 1996. Jordan specialises in Mediterranean Diet, providing nutritional support to assist individuals in disease prevention, athletic performance enhancement and management of medical conditions. This is done by working with individuals to formulate an effective and tailored meal plan.
              </p>
              <p>
                Support is also provided to clients to improve their habits and increase their nutritional and metabolic rates to achieve individual goals in weight loss and to prevent obesity. Jordan works closely with his clients to help them understand and use beneficial knowledge so they can undertake a long-term healthy approach and outcome.
              </p>
              <p>
                Jordan also provides specialist nutritional treatment for pathological cases such as cardiovascular disease, renal disorder and diabetes and is regularly involved in epidemiological and medical research in the fields of dieting and nutrition
              </p>"
          }
        ]
      },
      #{
      #  icon: 'occuptherapist',
      #  title: 'Occupational Therapist',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #},
      #{
      #  icon: 'psychologist',
      #  title: 'Psychologist',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #},
      #{
      #  icon: 'speechpath',
      #  title: 'Speech Pathologist',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #},
      #{
      #  icon: 'excphysio',
      #  title: 'Exercise Physiologist',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #},
      #{
      #  icon: 'physiotherapist',
      #  title: 'Physiotherapist',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #}
    ]
  },
 # #{
  #  title: 'Nurses',
  #  mod: 'orange',
  #  list: [
  #    {
  #      icon: 'practicenurse',
  #      title: 'Practice Nurse',
  #      list: [
  #        {
  #          photo: 'img/betty.jpg',
  #          name: 'Betty Messazos',
  #          shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
  #        },
  #        {
  #          photo: 'img/betty.jpg',
  #          name: 'Betty Messazos',
  #          shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
  #        }
  #      ]
  #    },
  #    {
  #      icon: 'practicenurse',
  #      title: 'Community&nbsp;Child Health&nbsp;Nurse',
  #      list: [
  #        {
  #          photo: 'img/betty.jpg',
  #          name: 'Betty Messazos',
  #          shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
  #        },
  #        {
  #          photo: 'img/betty.jpg',
  #          name: 'Betty Messazos',
  #          shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
  #        }
  #      ]
  #    }
  #  ]
  #},
  {
    title: 'Practice Management',
    mod: 'green',
    list: [
      {
        icon: 'clinicdirector',
        iconBig: true,
        title: 'Clinic Director',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
            fulldesc: "<p><b>Biography</b> <br>
            Betty Messazos is a Fellow in Paediatric Endocrinology and Diabetes at the Royal Children's Hospital (RCH), Melbourne. She is also a Clinical Research Fellow at the Murdoch Institute of Clinical Research (MCRI) where she is completing her thesis for Doctor of Medicine MD, in July 2017.
            </p>
            <p>
              Dr Messazos completed her Bachelor of Medicine and Surgery (MBBChir) at the University of Cambridge, UK. She then went on to complete 8 years of paediatric training at Oxford University Hospital UK, obtaining MRCPCH and qualifying as a Specialist Paediatric Consultant. Her clinical research interests have focused on diabetes in adolescence and in particular the effects of glucose variation on the brain and working memory. Her main laboratory research interest is working with human stem cells to study the effects of glucose variation on early neuronal differentiation.
            </p>
            <p>
              Betty is also a Clinical Teaching Fellow at RCH for the University of Melbourne Medical School. She is passionate about educating future doctors in training. Her interest in medical education for the wider community lead her to being a founding member of the Hellenic Medical Society of Australia (HMSA).
            </p>
            <p>
              Betty has been a volunteer doctor and dentist in developing countries like Nepal, Cuba and within Australia in aboriginal communities in the Northern Territory. She is an advocate for children's health and health education. Her love of Greek culture, literature and poetry, has earned her awards in many literature competitions.
            </p>
           "
          }
        ]
      },
      #{
      #  icon: 'practicemanager',
      #  title: 'Practice Manager',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #},
      #{
      #  icon: 'reception',
      #  title: 'Reception',
      #  list: [
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    },
      #    {
      #      photo: 'img/betty.jpg',
      #      name: 'Betty Messazos',
      #      shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
      #    }
      #  ]
      #}
    ]
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_hero.html" %}
	{% include "partials/_about.html" %}
	{% include "partials/_vision.html" %}
	{% include "partials/_philosophy.html" %}
	{% include "partials/_team.html" %}
	{% include "partials/_explore.html" %}
	{% include "partials/_ed-center.html" %}
	{% include "partials/_contacts.html" %}
	{% include "partials/_subscribe.html" %}
	{% include "partials/_footer.html" %}
	{% include "partials/_modal.html" %}


{% endblock %}
