---
title: Index page

team: [
  {
    title: 'Specialist Paediatricians',
    mod: 'blue',
    list: [
      {
        icon: 'genpaed',
        title: 'General Paediatricians',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
            fulldesc: "<p><b>About Betty</b> <br>
            MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>
            <p>
            MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>

            <p><b>Experience</b> <br>
            MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>
              <p>
            MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
              </p>
            <p><b>Hobbies</b> <br>
            MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>
            <p>
            MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
              </p>"
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
            fulldesc: "<p><b>About Betty</b> <br>
              MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>"
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
            fulldesc: "<p><b>About Betty</b> <br>
              MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>"
          }
        ]
      },
      {
        icon: 'devped',
        title: 'Development Paediatrician',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
            fulldesc: "<p><b>About Betty</b> <br>
              MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>"
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.',
            fulldesc: "<p><b>About Betty</b> <br>
              MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.
            </p>"
          }
        ]
      }
    ]
  },
  {
    title: 'Allied Health',
    mod: 'red',
    list: [
      {
        icon: 'dietitian',
        title: 'General Paediatricians',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'occuptherapist',
        title: 'Occupational Therapist',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'psychologist',
        title: 'Psychologist',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'speechpath',
        title: 'Speech Pathologist',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'excphysio',
        title: 'Exercise Physiologist',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'physiotherapist',
        title: 'Physiotherapist',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      }
    ]
  },
  {
    title: 'Nurses',
    mod: 'orange',
    list: [
      {
        icon: 'practicenurse',
        title: 'Practice Nurse',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'practicenurse',
        title: 'Community&nbsp;Child Health&nbsp;Nurse',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      }
    ]
  },
  {
    title: 'Practice Management',
    mod: 'green',
    list: [
      {
        icon: 'clinicdirector',
        title: 'Clinic Director',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'practicemanager',
        title: 'Practice Manager',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      },
      {
        icon: 'reception',
        title: 'Reception',
        list: [
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          },
          {
            photo: 'img/betty.jpg',
            name: 'Betty Messazos',
            shortinfo: 'MBBChir (Cantab), MRCPCH, MA, BSc (Hons)-graduated from the University of Cambridge in the UK and completed her paediatric consultancy training at Oxford University Hospitals.'
          }
        ]
      }
    ]
  }
]

---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_hero.html" %}
	{% include "partials/_about.html" %}
	{% include "partials/_vision.html" %}
	{% include "partials/_philosophy.html" %}
	{% include "partials/_team.html" %}
	{% include "partials/_explore.html" %}
	{% include "partials/_ed-center.html" %}
	{% include "partials/_contacts.html" %}
	{% include "partials/_subscribe.html" %}
	{% include "partials/_footer.html" %}
	{% include "partials/_modal.html" %}


{% endblock %}
