<section class="about" id="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__image">
        <img src="img/cross.svg" alt="Comprehensive paediatric services at a single location ">
      </div>
      <div class="about__content">
        <h2 class="section-title">Comprehensive paediatric services at a single location</h2>
        <div class="text">
          <p>At Brighton Health Clinic for Kids, our experienced paediatricians and professional allied health staff
            offer a high standard of patient focused healthcare delivered with empathy and respect.</p>
          <p>Combining years of experience our inter-referral system means we encompass a wide range of clinical
            multidisciplinary team services in one location.</p>
        </div>
      </div>
    </div>
  </div>
</section>
