<section class="contacts">
	<div class="contacts__deco">
		<img src="img/deco2.svg" alt="decoration">
	</div>
	<div class="container">
		<div class="section-icon green" id="getting">
			<div class="round-item">
				{{mixins.icon('map')}}
			</div>
		</div>
		<h2 class="section-title section-title--center">How to get here</h2>
		<div class="contacts__map">
			<img src="img/map.jpg" alt="map">
		</div>
		<div class="contacts__info">
			<div class="c-item">
				<div class="c-item__title">Address:</div>
				<div class="c-item__icon">{{mixins.icon('pin')}}</div>
				<div class="c-item__text">Brighton Health Clinic for Kids <br>
					202-204 Bay Street, Brighton, VIC 3186 <br>
					<a class="info-link" href="#">(Press to open in Google Maps)</a>
				</div>
			</div>
			<div class="c-item">
				<div class="c-item__title">By Train:</div>
        <div class="c-item__icon">{{mixins.icon('train')}}</div>
				<div class="c-item__text">5 min walk from North Brighton Railway Station</div>
			</div>
			<div class="c-item">
				<div class="c-item__title">Opening Hours:</div>
        <div class="c-item__icon">{{mixins.icon('clock')}}</div>
				<div class="c-item__text">Mon. – Fri. 8am - 8pm <br>
					Sat. 8am - 2pm</div>
			</div>
			<div class="c-item">
				<div class="c-item__title">Phone:</div>
        <div class="c-item__icon">{{mixins.icon('phone')}}</div>
				<div class="c-item__text"><a href="tel:+61 3 8525 2377">+61 3 8525 2377</a></div>
			</div>
			<div class="c-item">
				<div class="c-item__title">Fax:</div>
        <div class="c-item__icon">{{mixins.icon('fax')}}</div>
				<div class="c-item__text"><a href="tel:+61 3 8525 2375">+61 3 8525 2375</a></div>
			</div>
			<div class="c-item">
				<div class="c-item__title">Email:</div>
        <div class="c-item__icon">{{mixins.icon('mail')}}</div>
				<div class="c-item__text"><a href="mailto:info@bhckids.com.au">info@bhckids.com.au</a></div>
			</div>
		</div>
		<div class="contacts__buttons">
			<a href="#" class="btn btn--width btn--green-border">Book Online Now</a>
		</div>
	</div>
</section>
