<section class="desc-section">
  <div class="desc-section__deco">
    <img src="img/deco4.svg" alt="decoration">
  </div>
  <div class="container">
    <div class="section-icon orange">
      <div class="round-item">
        {{mixins.icon('brain')}}
      </div>
    </div>
    <div class="desc-section__media">
      <div class="desc-section__slider js-slider"
           data-slick='{
       "slidesToShow": 1,
       "slidesToScroll": 1,
       "autoplay": true,
       "rows": 0,
       "arrows": false,
       "autoplaySpeed": 2000}'
      >
        <div class="desc-section__slide" style="background-image: url(img/reception.jpg)"></div>
        <div class="desc-section__slide" style="background-image: url(img/conference.jpg)"></div>
        <div class="desc-section__slide" style="background-image: url(img/conference.jpg)"></div>
        <div class="desc-section__slide" style="background-image: url(img/conference.jpg)"></div>
      </div>
    </div>
    <h2 class="section-title section-title--center">An education centre for doctors and parents</h2>
    <div class="desc-section__row desc-section__row--reverse">
      <div class="desc-section__image"></div>
      <div class="desc-section__text">
        <div class="text">
          <p>Our goal is to be a local educational hub, sharing our medical knowledge and resources to empower our local
            community of medical professionals. We will hold quarterly paediatric education updates where GPs can
            discuss challenging cases and explore more about paediatric conditions as part of their ongoing professional
            development.</p>
          <p>We will also run regular seminars for parents on numerous conditions affecting children, including first
            aid. When parents are emotionally well supported, educated and confident, they can advocate best for their
            child and help achieve their optimum health goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>
