<section class="desc-section desc-section--first">
  <div class="explore-deco">
    <img src="img/deco3.svg" alt="decoration">
  </div>
  <div class="container">
    <div class="section-icon red" id="clinic">
      <div class="round-item">
        {{mixins.icon('explore')}}
      </div>
    </div>
    <div class="desc-section__media">
      <div class="desc-section__slider js-slider"
           data-slick='{
       "slidesToShow": 1,
       "slidesToScroll": 1,
       "rows": 0,
       "dots": true,
       "autoplay": true,
       "autoplaySpeed": 3000}'
      >
        <div class="desc-section__slide" style="background-image: url(img/reception.jpg)"></div>
        <div class="desc-section__slide" style="background-image: url(img/conference.jpg)"></div>
        <div class="desc-section__slide" style="background-image: url(img/conference.jpg)"></div>
        <div class="desc-section__slide" style="background-image: url(img/conference.jpg)"></div>
      </div>
    </div>
    <h2 class="section-title section-title--center">Explore our spaces</h2>
    <div class="desc-section__row">
      <div class="desc-section__image"></div>
      <div class="desc-section__text">
        <div class="text">
          <p>Comprising of several consulting rooms imaginatively-themed to create a calming, comforting atmosphere for
            children, our clinic aims to provide a great service to our patients and to create a positive place for our
            staff to work.</p>
          <p>We have purpose-built a unique sensory quiet playroom with a soothing ambience.</p>
          <p>There is a pleasant natural sunlit area used as a boardroom where individual families or groups of parents
            can meet and discuss their children’s needs in a MDT setting. The spacious seminar area will be used as a
            medical educational centre for all health professionals and families.</p>
        </div>
      </div>
    </div>
  </div>
</section>
