<footer class="footer">
  <div class="footer__buttons">
    <a href="#about" class="js-scroll-link btn btn--sm blue">Why us?</a>
    <a href="#team" class="js-scroll-link btn btn--sm orange">Our Team</a>
    <a href="#clinic" class="js-scroll-link btn btn--sm green">Our Clinic</a>
    <a href="#getting" class="js-scroll-link btn btn--sm red">Getting here</a>
  </div>
  <div class="footer__inner">
    <a href="tel:03 8525 2377">03 8525 2377</a>   |   202 - 204 Bay Street, Brighton  | <a href="mailto:info@bhckids.com.au">info@bhckids.com.au</a>
  </div>
</footer>
