<div class="hero">
  <div class="hero__logo">
    <a href="/" class="logo">
      <img src="img/logo.svg" alt="Logo">
    </a>
  </div>
  <div class="hero__slider js-slider"
       data-slick='{
       "slidesToShow": 1,
       "slidesToScroll": 1,
       "rows": 0}'>
    <div class="hero__slide" style="background-image: url(img/hero-bg.jpg)">
      <div class="hero__content">
        <div class="hero__button">
          <a href="#" class="btn">Book Online Now</a>
        </div>
        <div class="hero__text">a multidisciplinary health team dedicated to your child</div>
      </div>
    </div>
    <div class="hero__slide" style="background-image: url(img/hero-bg.jpg)">
      <div class="hero__content">
        <div class="hero__button">
          <a href="#" class="btn">Book Online Now</a>
        </div>
        <div class="hero__text">a multidisciplinary health team dedicated to your child</div>
      </div>
    </div>
  </div>
</div>
