<div class="hero">
  <div class="hero__logo">
    <a href="/" class="logo">
      <img src="img/logo.svg" alt="Logo">
    </a>
  </div>
  <div class="hero__slider js-slider"
       data-slick='{
       "slidesToShow": 1,
       "slidesToScroll": 1,
       "rows": 0,
       "autoplay": true,
       "autoplaySpeed": 3000}'>
    <div class="hero__slide js-background-position" style="background-image: url(img/hero-bg1@2x.jpg)" data-mobile-position="100%">
      <div class="hero__content">
        <div class="hero__button">
          <a href="#" class="btn">Book Online Now</a>
        </div>
        <div class="hero__text">a multidisciplinary health team dedicated to your child</div>
      </div>
    </div>
    <div class="hero__slide js-background-position" style="background-image: url(img/hero-bg@2x.jpg)" data-mobile-position="80%">
      <div class="hero__content">
        <div class="hero__button">
          <a href="#" class="btn">Book Online Now</a>
        </div>
        <div class="hero__text">a multidisciplinary health team dedicated to your child</div>
      </div>
    </div>
    <div class="hero__slide js-background-position" style="background-image: url(img/hero-bg3@2x.jpg)" data-mobile-position="25%">
      <div class="hero__content">
        <div class="hero__button">
          <a href="#" class="btn">Book Online Now</a>
        </div>
        <div class="hero__text">a multidisciplinary health team dedicated to your child</div>
      </div>
    </div>
  </div>
</div>
