<div class="modal js-modal">
  <div class="modal__inner">
    <button class="modal__close js-modal-close">{{mixins.icon('close')}}</button>
    <div class="person person--modal">
      <div class="person__photo-wrapper">
        <div class="person__photo">
          <img class="js-person-photo" src="" alt="">
        </div>
        <div class="person__icon">
          <svg class="icon js-person-icon"></svg>
        </div>
      </div>
      <div class="person__name js-person-name"></div>
      <div class="person__desc person__desc--full js-person-desc"></div>
    </div>
  </div>
</div>
