<section class="subscribe">
  <div class="subscribe__deco">
    <img src="img/deco3.svg" alt="decoration">
  </div>
  <div class="subscribe__inner">
    <div class="section-icon rose">
      <div class="round-item">
        {{mixins.icon('news')}}
      </div>
    </div>
    <h2 class="section-title section-title--center">Never stop learning</h2>
    <div class="text">
      <p>Subscribe to our newsletter.</p>
      <p>We keep our emails to a minimum and we will inform you of important events or updates.</p>
      <p>Unsubscribe at any time.</p>
    </div>
  </div>
  <div class="subscribe__form">
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <form action="https://kostasavlonitis.us20.list-manage.com/subscribe/post?u=e3be19757e3d210156f9f8b80&amp;id=6d9bf0195c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-line">

          <input type="email" value="" name="EMAIL" class="input" id="mce-EMAIL" placeholder="Your Email" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input class="input" type="text" name="b_e3be19757e3d210156f9f8b80_6d9bf0195c" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn--lg btn--blue-border btn--width-auto">
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
    <!--<form action="">-->
      <!--<div class="form-line">-->
        <!--<input class="input" type="email" name="email" placeholder="Your Email" required>-->
        <!--<button class="btn btn&#45;&#45;lg btn&#45;&#45;blue-border btn&#45;&#45;width-auto" type="submit">Subscribe</button>-->
      <!--</div>-->
    <!--</form>-->
  </div>
  <div class="subscribe__social">
    <a href="https://www.facebook.com/bhckids" class="soc-link">
      <img src="img/facebook.svg" alt="facebook">
    </a>
  </div>
</section>
