<section class="subscribe">
  <div class="subscribe__deco">
    <img src="img/deco3.svg" alt="decoration">
  </div>
  <div class="subscribe__inner">
    <div class="section-icon red">
      <div class="round-item">
        {{mixins.icon('news')}}
      </div>
    </div>
    <h2 class="section-title section-title--center">Never stop learning</h2>
    <div class="text">
      <p>Subscribe to our newsletter.</p>
      <p>We keep our emails to a minimum and we will inform you of important events or updates.</p>
      <p>Unsubscribe at any time.</p>
    </div>
  </div>
  <div class="subscribe__form">
    <form action="">
      <div class="form-line">
        <input class="input" type="email" placeholder="Your Email" required>
        <button class="btn btn--lg btn--blue-border" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
  <div class="subscribe__social">
    <a href="#" class="soc-link">
      <img src="img/facebook.svg" alt="facebook">
    </a>
  </div>
</section>
