.text-banner
	color: #ffffff
	background-color: $visionBg
	text-align: center
	padding: 40px 20px 50px
	border-width: 14px 0 14px 0
	border-style: solid
	border-color: $visionBorder
	margin: 100px 0
	+sm
		margin: 35px 0
		border-width: 6px 0
		padding: 20px 40px
	+xs
		padding: 20px
	&__title
		font-family: $extraBoldFont
		font-weight: bold
		+css-lock($titleBannerMobile, $titleBanner, 375, 1920)
		margin-bottom: 16px
		+sm
			margin-bottom: 24px
	&__text
		font-family: $boldFont
		+css-lock($textFontSizeMobile, $textFontSize, 375, 1920)
		max-width: 1140px
		margin: 0 auto
		+sm
			line-height: 1.6
	&--philosophy
		background-color: $philosophyBg
		border-color: $philosophyBorder
