.text-banner
	color: #ffffff
	background-color: $visionBg
	text-align: center
	padding: 40px 20px 50px
	border-width: 14px 0 14px 0
	border-style: solid
	border-color: $visionBorder
	margin: 100px 0
	+sm
		margin: 35px 0
		border-width: 6px 0
		padding: 20px 40px
	&__title
		font-family: $boldFont
		font-size: $titleFontSizeSm
		margin-bottom: 16px
		+laptop
			font-size: $titleFontSizeSmLaptop
		+sm
			font-size: $titleFontSizeSmMobile
	&__text
		font-size: $textFontSize
		max-width: 1140px
		margin: 0 auto
		+laptop
			font-size: $textFontSizeLaptop
		+sm
			line-height: 1.6
			font-size: $textFontSizeMobile
	&--philosophy
		background-color: $philosophyBg
		border-color: $philosophyBorder
