.btn
	text-align: center
	display: inline-block
	background-color: $mainButtonBg
	border: 7px solid $buttonBorderColor
	padding: 15px
	border-radius: 25px
	font-size: $btnFontSize
	color: $buttonColor
	text-decoration: none
	font-family: $boldFont
	white-space: nowrap
	+laptop
		font-size: $btnFontSizeLaptop
	+sm
		font-size: $btnFontSizeMobile
		border-width: 3px
		border-radius: 10px
		padding: 10px
	&--sm
		font-size: $btnFontSizeSm
		padding: 10px 15px
		border-width: 4px
		border-radius: 20px
		+laptop
			font-size: $btnFontSizeSmLaptop
		+sm
			font-size: $btnFontSizeMobile
			border-radius: 5px
			border-width: 2px
			padding: 3px 5px
		+r(375)
			font-size: $btnFontSizeSmMobile
	&--width
		min-width: 340px
		+md
			min-width: 200px
		+sm
			min-width: 138px
	&--lg
		padding: 25px
		min-width: 390px
		font-size: $btnFontSizeLg
		+laptop
			font-size: $btnFontSizeLgLaptop
		+md
			min-width: 200px
		+sm
			min-width: 112px
			font-size: $btnFontSizeMobile
	&--blue-border
		border-color: $buttonBorderColorBlue
	&--green-border
		border-color: $buttonBorderColorGreen
	&.red
		background-color: $roseBtnBg
	&.orange
		background-color: $orangeBtnBg
	&.green
		background-color: $greenBtnBg
	&.blue
		background-color: $blueBtnBg

.soc-link
	display: inline-block
	width: 89px
	img
		width: 100%
	+sm
		width: 26px

.info-link
	font-size: 24px
	color: inherit
	+sm
		font-size: 8px
