.btn
	text-align: center
	display: inline-block
	background-color: $mainButtonBg
	border: 7px solid $buttonBorderColor
	padding: 15px
	border-radius: 25px
	+css-lock($btnFontSizeMobile, $btnFontSize, 375, 1920)
	color: $buttonColor
	text-decoration: none
	font-family: $extraBoldFont
	white-space: nowrap
	font-weight: bold
	+sm
		border-width: 3px
		border-radius: 10px
		padding: 10px
	&--sm
		+css-lock($btnFontSizeSmMobileSm, $btnFontSizeSm, 320, 1920)
		padding: 10px 15px
		border-width: 4px
		border-radius: 20px
		+r(1200)
			border-radius: 12px
		+sm
			border-radius: 5px
			border-width: 2px
			padding: 3px 5px
	&--width
		min-width: 340px
		+md
			min-width: 200px
		+sm
			min-width: 138px
	&--lg
		padding: 25px
		min-width: 390px
		+css-lock($btnFontSizeMobile, $btnFontSizeLg, 375, 1920)
		+md
			min-width: auto
			width: 100%
		+sm
			width: auto
	&--blue-border
		border-color: $buttonBorderColorBlue
	&--green-border
		border-color: $buttonBorderColorGreen
	&.red
		background-color: $roseBtnBg
	&.orange
		background-color: $orangeBtnBg
	&.green
		background-color: $greenBtnBg
	&.blue
		background-color: $blueBtnBg

.soc-link
	display: inline-block
	width: 89px
	img
		width: 100%
	+sm
		width: 26px

.info-link
	+css-lock(8, 24, 375, 1920)
	color: inherit
