.icon-brain {
  width: 0.79em;
  height: 1em;
  fill: #fff;
}
.icon-clinicdirector {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-close {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.icon-devped {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-dietitian {
  width: 1.35em;
  height: 1em;
  fill: #fff;
}
.icon-excphysio {
  width: 1.02em;
  height: 1em;
  fill: #fff;
}
.icon-explore {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-genpaed {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-news {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-occuptherapist {
  width: 1.09em;
  height: 1em;
  fill: #fff;
}
.icon-physiotherapist {
  width: 0.72em;
  height: 1em;
  fill: #fff;
}
.icon-practicemanager {
  width: 0.72em;
  height: 1em;
  fill: #fff;
}
.icon-practicenurse {
  width: 0.92em;
  height: 1em;
  fill: #fff;
}
.icon-psychologist {
  width: 0.92em;
  height: 1em;
  fill: #fff;
}
.icon-reception {
  width: 1.17em;
  height: 1em;
  fill: #fff;
}
.icon-speechpath {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-team {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
