.icon-brain {
  width: 0.79em;
  height: 1em;
  fill: #fff;
}
.icon-car {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-clinicdirector {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #f68d28;
}
.icon-close {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.icon-devped {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-dietitian {
  width: 1.35em;
  height: 1em;
  fill: #fff;
}
.icon-excphysio {
  width: 1.02em;
  height: 1em;
  fill: #fff;
}
.icon-explore {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-fax {
  width: 0.97em;
  height: 1em;
  fill: #65c7c7;
}
.icon-genpaed {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left {
  width: 0.49em;
  height: 1em;
  fill: none;
}
.icon-mail {
  width: 1.48em;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-news {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-occuptherapist {
  width: 1.09em;
  height: 1em;
  fill: #fff;
}
.icon-phone {
  width: 1.22em;
  height: 1em;
  fill: #a2ce5f;
}
.icon-physiotherapist {
  width: 0.72em;
  height: 1em;
  fill: #fff;
}
.icon-pin {
  width: 0.69em;
  height: 1em;
  fill: #68b1e1;
}
.icon-practicemanager {
  width: 0.72em;
  height: 1em;
  fill: #fff;
}
.icon-practicenurse {
  width: 0.92em;
  height: 1em;
  fill: #fff;
}
.icon-psychologist {
  width: 0.92em;
  height: 1em;
  fill: #fff;
}
.icon-reception {
  width: 1.17em;
  height: 1em;
  fill: #fff;
}
.icon-right {
  width: 0.49em;
  height: 1em;
  fill: none;
}
.icon-speechpath {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-team {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-train {
  width: 0.97em;
  height: 1em;
  fill: #f06b79;
}
